.diff{
    background-image: url('http://getwallpapers.com/wallpaper/full/a/5/d/544750.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    font-family: 'Numans', sans-serif;
    padding-top: 180px;
    padding-bottom: 200px;
    }
    
    .diff1{
    height: 100%;
    align-content: center;
    }
    
    .diff2{
    height: 500px;
    margin-top: auto;
    margin-bottom: auto;
    width: 400px;
    background-color: rgba(0,0,0,0.5) !important;
    width: 40%;
    }
    
    .social_icon span{
    font-size: 60px;
    margin-left: 10px;
    color: #178ce0;
    }
    
    .social_icon span:hover{
    color: white;
    cursor: pointer;
    }
    
    .card-header h3{
    color: white;
    }
    
    .social_icon{
    position: absolute;
    right: 20px;
    top: -45px;
    }
    
    .input-group-prepend span{
    width: 50px;
    background-color: #178ce0;
    color: black;
    border:0 !important;
    }
    
    input:focus{
    outline: 0 0 0 0  !important;
    box-shadow: 0 0 0 0 !important;
    
    }
    
    .remember{
    color: white;
    }
    
    .remember input
    {
    width: 20px;
    height: 20px;
    margin-left: 15px;
    margin-right: 5px;
    }
    
    .login_btn{
    color: black;
    background-color: #178ce0;
    width: 100px;
    }
    
    .login_btn:hover{
    color: black;
    background-color: white;
    }
    
    .links{
    color: white;
    }
    
    .links a{
    margin-left: 4px;
    }
    .diff4{
        margin-left: 143px;
        margin-top: 80px;
        border-radius: 15px;
        padding-right: 103px;
        padding-left: 69px;
    }
    .diff5{
        padding: 20px;
        margin-bottom: 20px;
    }
    .diff6{
        padding: 0px;
    }
    .diff7{
        height: 38px;
     
        
    }
    .diff8{
        height: 44px;
    }
    .amze{
        /* margin-top: 65px; */
        /* margin-bottom: 0px; */
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: 100;
        
    }